:root {
  /* Fonts */
  /* Category Selector Style */
  --menustyle-font-family: OpenSans-SemiBold, sans-serif;
  --menustyle-font-size: 18px;
  --menustyle-line-height: normal;
  --menustyle-font-weight: 500;
  --menustyle-font-style: normal;
  /* Button Style */
  --buttonstyle-font-family: LeagueSpartan-Bold, sans-serif;
  --buttonstyle-font-size: 36px;
  --buttonstyle-line-height: normal;
  --buttonstyle-font-weight: 700;
  --buttonstyle-font-style: normal;
  /* Title Style */
  --titlestyle-font-family: LeagueSpartan-Black, sans-serif;
  --titlestyle-font-size: 30px;
  --titlestyle-line-height: normal;
  --titlestyle-font-weight: 900;
  --titlestyle-font-style: normal;
  /* Text Style */
  --textstyle-font-family: OpenSans-Regular, sans-serif;
  --textstyle-font-size: 18px;
  --textstyle-line-height: normal;
  --textstyle-font-weight: 400;
  --textstyle-font-style: normal;
  /* Aux Text Style */
  /* Used for smaller text, such as in the footer */
  --auxtextstyle-font-family: OpenSans-Regular, sans-serif;
  --auxtextstyle-font-size: 14px;
  --auxtextstyle-line-height: normal;
  --auxtextstyle-font-weight: 400;
  --auxtextstyle-font-style: normal;

  /* Transitions */
  --color-transition: 1s;
  --bg-transition: 1s;
}

.app-container {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: flex-start;

  /* Color settings */

  background-color: var(--bg);
  color: var(--text);
  transition: background var(--bg-transition), color var(--color-transition)
}


[data-theme='dark'] {
  --bg: #1e1e1e;
  --text: #ffffff;
  --text-hover: #aaa;
  --shadow: rgba(255, 252, 252, 0.15);
  --bg-neutral: #404040;
  --bg-neutral-hover: #606060;
  --bg-neutral-active: #808080;
}

[data-theme='light'] {
  --bg: #eeeeee;
  --text: #1e1e1e;
  --text-hover: #777;
  --shadow: rgba(0, 0, 0, 0.15);
  --bg-neutral: #bababa;
  --bg-neutral-hover: #808080;
  --bg-neutral-active: #606060;
}