.app-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 50px;

  /* Color settings */

  background-color: var(--bg);
  color: var(--text);
  transition: background 1s, color 1s
}


[data-theme='dark'] {
  --bg: #1e1e1e;
  --text: #ffffff;
}

[data-theme='light'] {
  --bg: #f5f5f5;
  --text: #1e1e1e;
}