.header,
.header * {
  box-sizing: border-box;
}
.header {
    padding: 20px 20px 0;
    display: flex;
    max-width: 1500px;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    row-gap: 50px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;

    background-color: var(--bg);
  color: var(--text);
  transition: background var(--bg-transition), color var(--color-transition)
}
.logo {
    background: var(--bg-neutral, #404040);
    border-radius: 20px;
    width: 200px;
    height: 50px;
    transition: transform 0.2s, background var(--bg-transition);
}

.logo:hover {
    transform: scale(1.05);
    background: var(--bg-neutral-hover, #606060);
}

.logo:active {
    transform: scale(0.95);
    background: var(--bg-neutral-active, #606060);
}

.category-selectors {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: var(--text, #404040);
  border-radius: 2px;
  transition: 0.3s;
}

/* Menú desplegable */
.category-dropdown {
  display: none;
  position: absolute;
  top: 70px; /* Ajusta según tu header */
  right: 20px;
  background: var(--bg, #ffffff);
  border-radius: 10px;
  box-shadow: 0 4px 16px var(--shadow);
  padding: 20px 50px;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
  transition: background var(--bg-transition), color var(--color-transition);
}

@media (max-width: 700px) {
  .category-selectors {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .category-dropdown {
    display: flex;
  }
}

.menustyle {
    color: var(--text);
    text-align: center;
    font-family: var(--menustyle-font-family, "OpenSans-SemiBold", sans-serif);
    font-size: var(--menustyle-font-size, 24px);
    font-weight: var(--menustyle-font-weight, 600);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: color var(--color-transition), transform 0.2s;
}

.menustyle:hover {
    color: var(--text-hover);
    cursor: pointer;
    transform: scale(1.05);
}

.menustyle:active {
    color: var(--text);
    transform: scale(0.95);
}

.line {
  border-style: solid;
  border-color: var(--text);
  border-width: 2px 0 0 0;
  width: 20px;
  height: 0px;
  transform: rotate(90deg) scale(1, 1);
  transition: color var(--color-transition);
}